.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.cell {
  padding: 0.5rem 1rem;
  position: relative;
  border: 1px solid #000000aa;
}
