.cell {
  padding: 0.5rem 1rem;
  position: relative;
  border: 1px solid #00000010;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 100;
  /* transition: all 0.001s ease-in-out; */
}

.resizer {
  cursor: grab;
  width: 0.4rem;
  height: 80%;
  background-color: rgb(54, 126, 119);
  position: absolute;
  right: -0.3rem;
  top: 10%;
  opacity: 0;
  border-radius: 1rem;
  transition: all 0.112s ease-in-out;
  z-index: 10000;
}

.resizer:hover {
  opacity: 1;
}

.resizer:active {
  opacity: 1;
}
